/*-------------------------------------Footer-------------------------------------*/
div.footer-wrap {
    height:300px;
    width:100%;
    background-color: #00a0ea;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    padding:0px;
}

div.footer-content-wrap {
    height:100%;
    width:1140px;
    margin:auto;
}

div.footer-content {
    height:100%;
    width:1080px;
    margin:auto;
}

div.footer-tight-wrap {
    height:100%;
    width:740px;
    margin:auto;
}

div.flux {
    width:100%;
    height:105px;
    padding:15px;
    border-bottom: 1px solid black;
    text-align:center;
    font-size:60px;
}

div.footer-cnt {
    width:100%;
    height:157px;
}

div.About-us {
    width:246.666px;
    height:100%;
    padding:none;
    padding-left:40px;
    float:left;
}

div.Contact-us {
    width:266.666px;
    height:100%;
    padding:none;
    padding-left:20px;
    float:left;
}

div.Our-logo {
    width:220.666px;
    height:100%;
    float:left;
}

div.copyright {
    text-align:center;
}
