/*-------------------------------------Headbar-------------------------------------*/
.headbar{
    height:35px;
    width:100%;
    background-color: #00a0ea;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:10px;
    padding:0px;
}

.headbar-wrap {
    border: 1px solid #00a0ea;
    margin-left:auto;
    margin-right:auto;
    width:1140px;
    height:100%;
}

.headbar-content {
    border: 1px solid #00a0ea;
    margin-left:auto;
    margin-right:auto;
    width:1080px;
    height:100%;
}

.header {
    float:left;
    padding-top: 5px;
    font-size: 150%;
    color: #F1F1F1;
}

div.logger {
    height:30px;
    width:200px;
    margin-left:888px;
    padding-top:5px;
    border:1px solid #00a0ea;
    display:none;
}

.head-list {
    margin-left: 0px;
    list-style-type: none;
}

.head-list-entry {
    float: left;
    font-size: 135%;
    color: #F1F1F1;
}

a.head-a, a.head-a:hover {
    text-decoration:none;
    color: #F1F1F1;
}

div.user-center {
    width:300px;
    height:30px;
    border:0px;
    padding-top:3px;
    margin-left:840px;
    margin-top:1px;
    display:none;
}

div.header-dropdown {
    float:left;
    width:160px;
    height:29px;
    display:table-cell;
    vertical-align:bottom;
}

div.uc-center-wrap {
    display:inline-block;
    height:100%;
    margin:auto;
}

div.uc-element-wrap {
    float:left;
}

img.user-icon {
    max-width:20px;
    max-height:20px;
    margin-top:1px;
}

a.header-dropdown-a, a.header-dropdown-a:hover {
    text-decoration:none;
    color:white;
    font-size: 135%;
    height:27px;
    display:block;
    padding-top:4px;
}

ul.header-dropdown-list {
    border-radius: 0px;
    border:0px;
    padding: 0px;
    margin:0px;
    background: #00a0ea;
    float:left;
}

a.header-dropdown-entry-a, a.header-dropdown-entry-a:hover{
    color:white !important;
    width:110px;
    height:35px;
    margin:auto;
    display:block;
    padding-top:7px !important;
    text-align: center !important;
    border-top:1px solid white;
    background:none !important;
}

div.user-logout-adiv {
    float:left;
    width:64px;
    padding-top:3px;
}

a.user-logout-a, a.user-logout-a:hover {
    text-decoration:none;
    color:white;
    font-size: 135%;
    display:block;
    width:110px;
    height:28px;
    padding-left:0px;
}

/*-------------------------------------Menu Bar-------------------------------------*/


a.menu-a, a.menu-a:hover {
    text-decoration:none;
    color: black;
}

div.menubar-wrap {
    margin:auto;
    width: 1140px;
}

div.menubar {
    margin:auto;
    padding:0px;
    width: 1080px;
}

div.menubtn_table {
    width: 100%;
    height: 80px;
    border-collapse: collapse;
}

table.menubtn_table {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.menubtn {
    width: 153px;
    font-size: 140%;
    text-align:center;
}

div.right-vbar {
    border-collapse: collapse;
    border-right: 1px solid #00a0ea;
    height:45px;
    width:100.5%;
}

div.right-tbar {
    border-collapse: collapse;
    height:45px;
    width:100.5%;
}

.menu-dropdown .menu-list {
    background-color:#F1F1F1;
    text-align:center;
    margin: auto;
    padding: 0px;
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    box-shadow:none;
    display: block;
    list-style-type: none;
}

.dropdown {
    text-align:center;
    margin:auto;
}

ul.menu-list {
    min-width:154px;
    border-radius:0;
    border-top: 1px solid #00a0ea;
    border-left: 1px solid #00a0ea;
    border-right: 1px solid #00a0ea;
    border-bottom: none;
    margin-right: 20px;
}

li.menu-entry {
    border-bottom: 1px solid #00a0ea;
    height:30px;
    padding-top: 2px;
}

.blue-select {
    color: #00a0ea !important;
}
