        <div class="headbar">
            <div class="headbar-wrap">
                <div class="headbar-content">
                    <div class="header">
                        温哥华学生网
                    </div>
                    <div class="logger">
                        <ul class="head-list">
                            <li class="head-list-entry">
                                <a id="head-a-regi" class="head-a" href="/users/register">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;注册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </li>
                            <li class="head-list-entry">
                                <a id="head-a-login" class="head-a" href="/users/login" style="ground:lavender;">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;登陆
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-center">
                        <div class="dropdown header-dropdown">
                            <div class="uc-center-wrap">
                                <div class="uc-element-wrap">
                                    <img class="user-icon" src="/images/logout.png" alt="logout" style="width:24px">
                                </div>
                                <!-- trigger button -->
                                <div class="uc-element-wrap">
                                    <a id="user-nickname-a" class="header-dropdown-a" href="#"></a>
                                </div>
                            </div>
                            <!-- dropdown menu -->
                            <ul class="dropdown-menu header-dropdown-list">
                                <li class="header-dropdown-entry"><a class="header-dropdown-entry-a" href="/users/myCenter">个人资料</a></li>
                                <li class="header-dropdown-entry"><a class="header-dropdown-entry-a" href="#about">我的帖子</a></li>
                                <li class="header-dropdown-entry"><a class="header-dropdown-entry-a" href="#contact">商业广告</a></li>
                            </ul>
                        </div>
                        <div class="user-logout-adiv">
                            <a class="user-logout-a" id="user-logout-a" href="#">&nbsp; &nbsp;退出登陆</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menubar-wrap">
            <div class="menubar container-fluid">
                <table class="menubtn_table">
                    <tr>
                        <td><img src="/images/logo_max.png" alt="logo_max" style="width:156px"></td>
                        <td class="menubtn">
                            <div class="right-vbar">
                                <a id="tag-home" class="menu-a" href="/">首页<br><font id="tagEng-home" size="2" color="grey">Home</font></a>
                            </div>
                        </td>
                        <td class="menubtn" >
                            <div class="dropdown menu-dropdown right-vbar">
                                <!-- trigger button -->
                                <a id="tag-forum" class="menu-a" href="/forum">论坛<br><font id="tagEng-forum" size="2" color="grey">Forum</font></a>
                                <!-- dropdown menu -->
                                <ul class="dropdown-menu menu-list">
                                    <li class="menu-entry"><a href="#home">SFU</a></li>
                                    <li class="menu-entry"><a href="#about">UBC</a></li>
                                    <li class="menu-entry"><a href="#contact">综合</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="menubtn" >
                            <div class="dropdown menu-dropdown right-vbar">
                                <!-- trigger button -->
                                <a id="tag-cssa" class="menu-a" href="#">学联会<br><font id="tagEng-cssa" size="2" color="grey">CSSA</font></a>
                                <!-- dropdown menu -->
                                <ul class="dropdown-menu menu-list">
                                    <li class="menu-entry"><a href="#home">SFU</a></li>
                                    <li class="menu-entry"><a href="#about">UBC</a></li>
                                    <li class="menu-entry"><a href="#contact">综合</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="menubtn" >
                            <div class="dropdown menu-dropdown right-vbar">
                                <!-- trigger button -->
                                <a id="tag-market" class="menu-a" href="/market">二手信息<br><font id="tagEng-market" size="2" color="grey">Market</font></a>
                                <!-- dropdown menu -->
                                <ul class="dropdown-menu menu-list">
                                    <li class="menu-entry"><a href="#home">书籍</a></li>
                                    <li class="menu-entry"><a href="#about">电子</a></li>
                                    <li class="menu-entry"><a href="#contact">家居</a></li>
                                </ul>
                            </div>
                        </td> 
                        <td class="menubtn right-vbar">
                            <div class="right-vbar">
                                <a id="tag-vehicle" class="menu-a" href="/vehicle">车市信息<br><font id="tagEng-vehicle" size="2" color="grey">Vehicle</font></a>
                            </div>
                        </td> 
                        <td class="menubtn">
                            <div class="right-tbar">
                                <a id="tag-housing" class="menu-a" href="/housing">租房信息<br><font id="tagEng-housing" size="2" color="grey">Housing</font></a>
                            </div>
                        </td> 
                    </tr>
                </table>
            </div>
        </div>
