<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/favorite_group.css' %}" rel="stylesheet">
    <link href="{% static 'css/group_list.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <link href="./header.css" rel="stylesheet">
    <link href="./my_account.css" rel="stylesheet">
    <link href="./playlist.css" rel="stylesheet">
    <link href="./group_list.css" rel="stylesheet">

    <script src="./jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript"> 
        $(document).ready(function () {

        });
    </script>

</head>

<body>

    <div class="container header_container">
        <div class="container logo_container">
            <img src="{% static 'img/LOGO.png' %}" class="logo">
        </div>
        <div class="container welcoming_container">
            <h4 class="welcoming">Welcome,</h4>
            <h3 class="welcoming">{{username}}</h3>
        </div>
        <div class="container nav_container">
            <table class="table nav_table"><tbody>
                <tr>
                    <td class="right_border"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                    <td class="highlight"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td class="right_border"><a href="/home">Home</a></td>
                    <td class="right_border"><a href="/myPlaylist">My Playlist</a></td>
                    <td class="right_border"><a href="/favoriteGroup">Favorite Groups</a></td>
                    <td class="highlight"><a href="/myAccount">My Account</a></td>
                </tr>
            </tbody></table>
        </div>
    </div><!-- end of header container-->

    <div class="group_container container"><table class="table group_table"><tbody>

        <tr><td class="first">
            <div class="container group_info_container">

                <div class="container group_icon_container">
                    <img src="{% static 'img/mio.jpg' %}" class="group_icon">
                </div>

                <div class="container group_description_container">

                    <h2 class="group_name">
                        Shyuseimin's Favorite
                    </h2>

                    <h4 class="group_info_lable">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Founder:
                    </h4>
                    <h4 class="group_info_content"><small>
                        ShyuSeimin
                    </small></h4>

                    <h4 class="group_info_lable">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        Group Description:
                    </h4>
                    <h4 class="group_info_content"><small>
                        Hey! These are the songs that I love sooo much!!!<br>
                        Welcome those who also like Arashi and RADWIMPS!!!
                    </small></h4>

                    <div class="group_button">
                        <button type="button" class="btn btn-primary" id="group_favorite">
                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                            Favorite
                        </button>
                        <br>
                        <button type="button" class="btn btn-primary" id="group_delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>

                </div>
            </div><!-- end of group information-->
        </td></tr>

        <tr><td>
            <div class="container group_info_container">

                <div class="container group_icon_container">
                    <img src="{% static 'img/LOGO.png' %}" class="group_icon">
                </div>

                <div class="container group_description_container">

                    <h2 class="group_name">
                        Shyuseimin's Favorite
                    </h2>

                    <h4 class="group_info_lable">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Founder:
                    </h4>
                    <h4 class="group_info_content"><small>
                        ShyuSeimin
                    </small></h4>

                    <h4 class="group_info_lable">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        Group Description:
                    </h4>
                    <h4 class="group_info_content"><small>
                        Hey! These are the songs that I love sooo much!!!<br>
                        Welcome those who also like Arashi and RADWIMPS!!!
                    </small></h4>

                    <div class="group_button">
                        <button type="button" class="btn btn-primary" id="group_favorite">
                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                            Favorite
                        </button>
                        <br>
                        <button type="button" class="btn btn-primary" id="group_delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Delete
                        </button>
                    </div>

                </div>
            </div><!-- end of group information-->
        </td></tr>

    </tbody></table></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
