        <div class="footer-wrap">
            <div class="footer-content-wrap">
                <div class="footer-content">
                    <div class="footer-tight-wrap">
                        <div class="flux"></div>
                        <div class="footer-cnt">
                            <div class="About-us">
                                <h4>关于我们</h4>
                                <p>中加湾网络技术有限公司</p>
                                <p>
                            </div>
                            <div class="Contact-us">
                                <h4>联系我们</h4>
                                <p>邮箱：zjwan@gmail.com</p>
                                <p>电话：(US) 1-778-681-4081</p>
                                <p>广告：zjwads@gmail.com</p>
                                <p>建议：zjwadv@gmail.com</p>
                            </div>
                            <div class="Our-logo">
                                {% load staticfiles %}
                                <img src="{% static 'images/logo_max.png' %}" alt="logo_max" style="width:180px"> 
                            </div>
                        </div>
                        <div class="copyright">
                            <p>&copy; Copyright 2015 - 2055 ZhongJiaWan Ltd. Software</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
