<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/group.css' %}" rel="stylesheet">
    <link href="{% static 'css/playlist.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#group_upload").click(function(event) {
                event.preventDefault();
                window.location.href='/upload/?gid={{ group.id }}';
            });

            $("#submit_comment").click(function(event){
                event.preventDefault();
                var content=$("#content").val();

                if (content.length == 0) {
                    $("#warning").html('<strong>Warning</strong> Empty Comment!');
                    $("#warning").show();
                }
                else
                {
                    // construct the JSON
                    var comment_obj = {};
                    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                    comment_obj["content"] = content;
                    comment_obj["gid"] = {{ group.id }};
                    comment_obj["csrfmiddlewaretoken"] = token;

                    // post the JSON
                    $.post("/group/comment", comment_obj, function(res) {
                        if (res.status == 0) {
                            location.reload();
                        }
                        else if (res.status == 1) {
                            $("#warning").html('<strong>Warnings</strong> Submission Failed!');
                            $("#warning").show();
                        }
                    });
                }
            });

            $(".song-delete").click(function(event) {
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(12));
                var gid = {{ group.id }}
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                $.post("/group/delete", {'sid': sid, 'gid': gid, 'csrfmiddlewaretoken': token}, function(feedback) {
                    $("#" + thisID).parent().parent().hide();
                });
            });

            $(".song-like").click(function(event) {
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(10));
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                if( $("#"+thisID).attr("class").indexOf("empty") != -1 ) { //if not like
                    $.post("/likeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart-empty");
                            $("#"+thisID).addClass("glyphicon-heart");
                        }
                    });
                }
                else { //if like
                    $.post("/dislikeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart");
                            $("#"+thisID).addClass("glyphicon-heart-empty");
                        }
                    });
                }
            });

            $("#group_favorite").click(function(event) {
                event.preventDefault();
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                if( $("#like_group_flag").attr("class").indexOf("empty") != -1 ) { //if not like
                    //alert("like");
                    $.post("/likeGroup", {'gid': {{ group.id }}, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#like_group_flag").removeClass("glyphicon-heart-empty");
                            $("#like_group_flag").addClass("glyphicon-heart");
                        }
                    });
                }
                else { //if like
                    //alert("dislike");
                    $.post("/dislikeGroup", {'gid': {{ group.id }}, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#like_group_flag").removeClass("glyphicon-heart");
                            $("#like_group_flag").addClass("glyphicon-heart-empty");
                        }
                    });
                }
            });

            $("#group_delete").click(function(event) {
                event.preventDefault();
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                $.post("/group/dismiss", {'gid': {{ group.id }}, 'csrfmiddlewaretoken': token}, function(feedback) {
                    if(feedback.status == 0) {
                        alert("Group Dismissed!");
                        window.location.href="/home";
                    }
                });
            });

        });
    </script>

</head>

<body>
    
    <div class="container header_container">
        <div class="container logo_container">
            <img src="{% static 'img/LOGO.png' %}" class="logo">
        </div>
        <div class="container welcoming_container">
            <h4 class="welcoming">Welcome,</h4>
            <h3 class="welcoming">{{username}}</h3>
        </div>
        <div class="container nav_container">
            <table class="table nav_table"><tbody>
                <tr>
                    <td class="right_border"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td class="right_border"><a href="/home">Home</a></td>
                    <td class="right_border"><a href="/myPlaylist">My Playlist</a></td>
                    <td class="right_border"><a href="/favoriteGroup">Favorite Groups</a></td>
                    <td><a href="/myAccount">My Account</a></td>
                </tr>
            </tbody></table>
        </div>
    </div><!-- end of header container-->

    <div class="container group_info_container">

        <div class="container icon_container">
            <img src="{% static "" %}{{ group.proPic }}" class="icon">
        </div>

        <div class="container description_container">

            <h2 class="group_name">
                {{ group.name }}
            </h2>

            <h4 class="group_info_lable">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Founder:
            </h4>
            <h4 class="group_info_content"><small>
                {{ Founder }}
            </small></h4>

            <h4 class="group_info_lable">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                Group Description:
            </h4>
            <h4 class="group_info_content"><small>
                {{ group.description }}
            </small></h4>

            <div class="group_button">
                <button type="button" class="btn btn-primary" id="group_favorite">
                    {% if group.like %}
                        <span class="glyphicon glyphicon-heart" aria-hidden="true" id="like_group_flag"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" id="like_group_flag"></span>
                    {% endif %}
                    Favorite
                </button>
                <br>
                {% if own %}
                    <button type="button" class="btn btn-primary" id="group_delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Dismiss
                    </button>
                    <br>
                {% endif %}
                <button type="button" class="btn btn-primary" id="group_upload">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Upload
                </button>
            </div>

        </div>
    </div><!-- end of group information-->

    <div class="container playlist_container">

        <table class="table table-hover playlist_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Uploader</th>
                    <th class="center">Play</th>
                    <th class="center">Add</th>
                    <th class="center">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for c in songList %}
                <tr>
                    <td id="sid-td-{{forloop.counter}}">{{ forloop.counter }}</td>
                    <td id="sname-td-{{forloop.counter}}" class="title">{{ c.name }}</td>
                    <td id="sartist-td-{{forloop.counter}}">{{ c.artist }}</td>
                    <td id="suploader-td-{{forloop.counter}}">{{ c.uploader }}</td>
                    <td id="splay-td-{{forloop.counter}}" class="center">
                        <audio src="{% static "" %}{{ c.path }}" controls="controls" preload="metadata">
                            No Audio Support
                        </audio>
                    </td>
                    <td id="slike-td-{{forloop.counter}}" class="center">
                        {% if c.like %}
                            <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart song-like" aria-hidden="true"></a>
                        {% else %}
                            <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart-empty song-like" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                    <td id="sdelete-td-{{forloop.counter}}" class="center">
                        {% if c.own %}
                        <a id="song-delete-{{ c.id }}" class="song-delete" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- end of container playlist-->

    <div class="container comment_container">
        <table class="table comment_table">

            <thead>
                <tr>
                    <th class="comment_title">Comment</th>
                </tr>
            </thead>

            <tbody>
                {% for c in commentList %}
                <script> console.log("{{c}}") </script>
                    <tr>
                        <td>
                            <div class="comment_content">
                                {{ c.content }}
                            </div>
                            <div class="comment_maker">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{ c.username }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>
                        <h5 class="group_name">Leave a massage:</h5>
                        <form id="new_comment">
                            {% csrf_token %}
                            <textarea class="form-control" rows="3" id="content"></textarea>
                            <button type="submit" class="btn btn-primary" id="submit_comment">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Submit
                            </button>
                        </form>
                        <div id="warning" class="alert alert-danger alert-dismissable" style="width:230px; margin-left:0; margin-top:10px; margin-bottom: 0px; display:none;"></div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div> <!-- end of container comment-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
