<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/playlist.css' %}" rel="stylesheet">
    <link href="{% static 'css/group_list.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript"> 
        $(document).ready(function () {
            $("#search_result").hide();

            $('#myTabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $("#search_submit").click(function (event) {
                event.preventDefault();
                var key = $("#search_key").val();
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                $.post("/searchAll", {'keyword': key, 'csrfmiddlewaretoken': token}, function(res) {
                    $("#begin_journey").hide();
                    $("#search_form").removeClass("first");
                    $("#search_result").fadeIn();
                    console.log(res.songList);

                    var $song_result = $("#song_result"); 
                    var strHtml = "";
                    var path = "";
                    $song_result.empty();
                    $.each(res.songList,function(i, song){ 
                            strHtml +="<tr><td class='title'>"+song["name"]+"</td>";
                            strHtml +="<td>"+song["artist"]+"</td>";
                            strHtml +="<td>"+song["group"]+"</td>";
                            path = song["path"];
                            //path = "{% static '"; path += song["path"]; path += "' %}";
                            strHtml +="<td class=\"center\"><audio src=\"/static/";
                            strHtml +=path;
                            strHtml +="\" controls='controls'>No Audio Support</audio></td>";
                            //strHtml +="<td>"+song["path"]+"</td>";
                            if( song["like"] == true) {
                                strHtml += "<td class='center'><a id='song-like-"+song["id"]+"'href='#' class='glyphicon glyphicon-heart song-like' aria-hidden='true'></a></td>";
                            } else {
                                strHtml += "<td class='center'><a id='song-like-"+song["id"]+"'href='#' class='glyphicon glyphicon-heart-empty song-like' aria-hidden='true'></a></td>";
                            }
                            if( song["own"] == true) {
                                strHtml += "<td class='center'><a id='song-delete-"+song["id"]+"'href='#' class='glyphicon glyphicon-trash song-delete' aria-hidden='true'></a></td>";
                            }
                        })
                    //strHtml+="</tbody>";
                    $song_result.html(strHtml);//display 
                });
            });

            $(document.body).on('click', '.song-delete' ,function(event){
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(12));
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                $.post("/group/delete", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                    $("#" + thisID).parent().parent().hide();
                });
            });

            $(document.body).on('click', '.song-like' ,function(event){
                //alert("hhh");
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(10));
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                if( $("#"+thisID).attr("class").indexOf("empty") != -1 ) { //if not like
                    $.post("/likeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart-empty");
                            $("#"+thisID).addClass("glyphicon-heart");
                        }
                    });
                }
                else { //if like
                    $.post("/dislikeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart");
                            $("#"+thisID).addClass("glyphicon-heart-empty");
                        }
                    });
                }
            });

        });
    </script>

</head>

<body>

    <div class="container header_container">
        <div class="container logo_container">
            <img src="{% static 'img/LOGO.png' %}" class="logo">
        </div>
        <div class="container welcoming_container">
            <h4 class="welcoming">Welcome,</h4>
            <h3 class="welcoming">{{username}}</h3>
        </div>
        <div class="container nav_container">
            <table class="table nav_table"><tbody>
                <tr>
                    <td class="highlight right_border"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td class="right_border highlight"><a href="/home">Home</a></td>
                    <td class="right_border"><a href="/myPlaylist">My Playlist</a></td>
                    <td class="right_border"><a href="/favoriteGroup">Favorite Groups</a></td>
                    <td><a href="/myAccount">My Account</a></td>
                </tr>
            </tbody></table>
        </div>
    </div><!-- end of header container-->

    <h1 align="center" id="begin_journey"><small>
        Begin Your Journey Here...
    </small></h1>

    <div class="song-like"></div>
    <div class="song-delete"></div>

    <form class="form-group search first" id="search_form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="search_key" placeholder="Search for songs and groups...">
        </div>
        <button type="submit" class="btn btn-primary" id="search_submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Search
        </button>
    </form>

    <div class="container home_container" id="search_result">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#new_song" aria-controls="profile" role="tab" data-toggle="tab">Songs</a></li>
            <li role="presentation"><a href="#new_group" aria-controls="messages" role="tab" data-toggle="tab">Groups</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="new_song">
                <div class="container playlist_container">
                    <table class="table table-hover playlist_table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Group</th>
                                <th class="center">Play</th>
                                <th class="center">Add</th>
                                <th class="center">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="song_result"> </tbody>
                        <!--tbody>
                            {% for c in songList %}
                            <tr>
                                <td id="sname-td-{{forloop.counter}}" class="title">{{ c.name }}</td>
                                <td id="sartist-td-{{forloop.counter}}">{{ c.artist }}</td>
                                <td id="suploader-td-{{forloop.counter}}">{{ c.group }}</td>
                                <td id="splay-td-{{forloop.counter}}" class="center">
                                    <audio src="{% static "" %}{{ c.path }}" controls="controls">
                                        No Audio Support
                                    </audio>
                                </td>
                                <td id="slike-td-{{forloop.counter}}" class="center">
                                    {% if c.like %}
                                        <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart song-like" aria-hidden="true"></a>
                                    {% else %}
                                        <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart-empty song-like" aria-hidden="true"></a>
                                    {% endif %}
                                </td>
                                <td id="sdelete-td-{{forloop.counter}}" class="center">
                                    {% if c.own %}
                                    <a id="song-delete-{{ c.id }}" class="song-delete" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody-->
                    </table>
                </div> <!-- end of container playlist-->
            </div><!--/ New Song-->

            <div role="tabpanel" class="tab-pane fade" id="new_group">
                <table class="table group_table"><tbody>
                    <tr><td class="first">
                        <div class="container group_info_container">

                            <div class="container group_icon_container">
                                <img src="{% static 'img/mio.jpg' %}" class="group_icon">
                            </div>

                            <div class="container group_description_container">

                                <h2 class="group_name">
                                    Shyuseimin's Favorite
                                </h2>

                                <h4 class="group_info_lable">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    Founder:
                                </h4>
                                <h4 class="group_info_content"><small>
                                    ShyuSeimin
                                </small></h4>

                                <h4 class="group_info_lable">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    Group Description:
                                </h4>
                                <h4 class="group_info_content"><small>
                                    Hey! These are the songs that I love sooo much!!!<br>
                                    Welcome those who also like Arashi and RADWIMPS!!!
                                </small></h4>

                            </div>
                        </div><!-- end of group information-->
                    </td></tr>

                    <tr><td>
                        <div class="container group_info_container">

                            <div class="container group_icon_container">
                                <img src="{% static 'img/mio.jpg' %}" class="group_icon">
                            </div>

                            <div class="container group_description_container">

                                <h2 class="group_name">
                                    Shyuseimin's Favorite
                                </h2>

                                <h4 class="group_info_lable">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    Founder:
                                </h4>
                                <h4 class="group_info_content"><small>
                                    ShyuSeimin
                                </small></h4>

                                <h4 class="group_info_lable">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    Group Description:
                                </h4>
                                <h4 class="group_info_content"><small>
                                    Hey! These are the songs that I love sooo much!!!<br>
                                    Welcome those who also like Arashi and RADWIMPS!!!
                                </small></h4>

                            </div>
                        </div><!-- end of group information-->
                    </td></tr>


                </tbody></table>
            </div><!--/ New Group-->
        </div>

    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
