<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 

    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript"> 
    $(function () {

        $('#mytab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("#form-signup").submit(function(event){
            event.preventDefault();
            //check confirm
            var name = $("#signupName").val();
            var email = $("#signupEmail").val();
            var pass1 = $("#signupPassword").val();            
            var pass2 = $("#signupPassword2").val();

            if (name.length == 0) {
                $("#warning").html('<strong>Warning</strong> Please input your user name');
                $("#warning").show();
            }
            else if (email.length == 0) {
                $("#warning").html('<strong>Warning</strong> Please input your email');
                $("#warning").show();
            }
            else if (pass1 != pass2) {
                $("#warning").html('<strong>Warning</strong> "Password" does not match "Confirm password"');
                $("#warning").show();
            }
            else{
                // construct the JSON
                var regi_obj = {};
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                regi_obj["username"] = name;
                regi_obj["email"] = email;
                regi_obj["password"] = pass1;
                regi_obj["csrfmiddlewaretoken"] = token;

                // post the JSON
                $.post("user/new", regi_obj, function(res) {
                    if (res.status == 0) {
                        $("#warning").html('<strong>Success</strong> User registered!');
                        $("#warning").show();
                    }
                    else if (res.status == 1) {
                        $("#warning").html('<strong>Warning</strong> Username already existed!');
                        $("#warning").show();
                    }
                    else if (res.status == 2) {
                        $("#warning").html('<strong>Warning</strong> Email already existed!');
                        $("#warning").show();
                    }
                    else {
                        $("#warning").html('<strong>Warning</strong> Unknown error');
                        $("#warning").show();
                    }
                });
            }
        });

        $("#submit_signin").click(function(event){
            event.preventDefault();
            // construct the JSON
            var login_obj = {};
            var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
            login_obj["username"] = $("#signinName").val();
            login_obj["password"] = $("#signinPassword").val();
            login_obj["csrfmiddlewaretoken"] = token;

            // post the JSON
            $.post("user/login", login_obj, function(res) {
                if (res.status == 0) {
                    $("#warning").html('<strong>Success</strong> Login succeeded!');
                    $("#warning").show();
                    window.location.href="/home";
                }
                else if (res.status == 1) {
                    $("#warning").html('<strong>Warnings</strong> Account disabled!');
                    $("#warning").show();
                }
                else {
                    $("#warning").html('<strong>Warnings</strong> The username and password were incorrect!');
                    $("#warning").show();
                    
                }
            });
        });

    });

    </script>
</head>

<body>
    <div align="center">
        <img src="{% static 'img/LOGO.png' %}" class="logo">
        <h2><small>A music sharing community.</small></h2>
    </div>

    <div class="container">
        <!-- Nav tabs -->
        <!--div class="nav-bar">
            <ul id="mytab" class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#signup" role="tab" data-toggle="tab">Sign Up</a></li>
                <li role="presentation"><a href="#signin" role="tab" data-toggle="tab">Sign In</a></li>
            </ul>
        </div-->

        <ul id="mytab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#signup" role="tab" data-toggle="tab">Sign Up</a></li>
            <li role="presentation"><a href="#signin" role="tab" data-toggle="tab">Sign In</a></li>
        </ul>

          <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade" id="signin">
                <form id="form-signin" class="form-signin">
                    {% csrf_token %}
                    <!--h2 class="form-signin-heading">Please sign in</h2-->
                    <label for="signinName" class="sr-only">User name</label>
                    <input type="text" id="signinName" class="form-control input-top" placeholder="User name" required="" autofocus="">
                    <label for="signinPassword" class="sr-only">Password</label>
                    <input type="password" id="signinPassword" class="form-control input-bottom" placeholder="Password" required="">
                    <!-- div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div -->
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit_signin">Sign In</button>
                </form>
            </div>

            <div role="tabpanel" class="tab-pane fade in active" id="signup">
                <form id="form-signup" class="form-signup">
                    {% csrf_token %}
                    <!--h2 class="form-signup-heading">Please sign up</h2-->
                    <label for="signupName" class="sr-only">User name</label>
                    <input type="text" id="signupName" class="form-control input-top" placeholder="User name" required="" >
                    <label for="signupEmail" class="sr-only">Email address</label>
                    <input type="email" id="signupEmail" class="form-control input-body" placeholder="Email address" required="" >
                    <label for="signupPassword" class="sr-only">Password</label>
                    <input type="password" id="signupPassword" class="form-control input-body" placeholder="Password" required="">
                    <label for="signupPassword2" class="sr-only">Confirm password</label>
                    <input type="password" id="signupPassword2" class="form-control input-bottom" placeholder="Confirm password" required="">
                    <!-- div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div -->
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit_signup">Sign Up</button>
                </form>
            </div>

        </div>


        <div id="warning" class="alert alert-danger alert-dismissable" style="width:300px;margin:0 auto;display:none;">
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
