<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/my_playlist.css' %}" rel="stylesheet">
    <link href="{% static 'css/playlist.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript"> 
        $(document).ready(function () {
            $(".song-delete").click(function(event) {
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(12));
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                $.post("/group/delete", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                    $("#" + thisID).parent().parent().hide();
                });
            });

            $(".song-like").click(function(event) {
                event.preventDefault();
                thisID = this.id;
                var sid = Number(thisID.substring(10));
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                if( $("#"+thisID).attr("class").indexOf("empty") != -1 ) { //if not like
                    $.post("/likeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart-empty");
                            $("#"+thisID).addClass("glyphicon-heart");
                        }
                    });
                }
                else { //if like
                    $.post("/dislikeSong", {'sid': sid, 'csrfmiddlewaretoken': token}, function(feedback) {
                        if(feedback.status == 0) {
                            $("#"+thisID).removeClass("glyphicon-heart");
                            $("#"+thisID).addClass("glyphicon-heart-empty");
                            $("#"+thisID).parent().parent().hide();
                        }
                    });
                }
            });

        });
    </script>

</head>

<body>

    <div class="container header_container">
        <div class="container logo_container">
            <img src="{% static 'img/LOGO.png' %}" class="logo">
        </div>
        <div class="container welcoming_container">
            <h4 class="welcoming">Welcome,</h4>
            <h3 class="welcoming">{{username}}</h3>
        </div>
        <div class="container nav_container">
            <table class="table nav_table"><tbody>
                <tr>
                    <td class="right_border"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                    <td class="highlight"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td class="right_border"><a href="/home">Home</a></td>
                    <td class="right_border highlight"><a href="/myPlaylist">My Playlist</a></td>
                    <td class="right_border"><a href="/favoriteGroup">Favorite Groups</a></td>
                    <td><a href="/myAccount">My Account</a></td>
                </tr>
            </tbody></table>
        </div>
    </div><!-- end of header container-->

    <form>{% csrf_token %}</form>

    <div class="container playlist_container">
        <table class="table table-hover playlist_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Group</th>
                    <th class="center">Play</th>
                    <th class="center">Add</th>
                    <th class="center">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for c in songList %}
                <tr>
                    <td id="sid-td-{{forloop.counter}}">{{ forloop.counter }}</td>
                    <td id="sname-td-{{forloop.counter}}" class="title">{{ c.name }}</td>
                    <td id="sartist-td-{{forloop.counter}}">{{ c.artist }}</td>
                    <td id="suploader-td-{{forloop.counter}}">{{ c.group }}</td>
                    <td id="splay-td-{{forloop.counter}}" class="center">
                        <audio src="{% static "" %}{{ c.path }}" controls="controls">
                            No Audio Support
                        </audio>
                    </td>
                    <td id="slike-td-{{forloop.counter}}" class="center">
                        {% if c.like %}
                            <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart song-like" aria-hidden="true"></a>
                        {% else %}
                            <a id="song-like-{{ c.id }}" href="#" class="glyphicon glyphicon-heart-empty song-like" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                    <td id="sdelete-td-{{forloop.counter}}" class="center">
                        {% if c.own %}
                        <a id="song-delete-{{ c.id }}" class="song-delete" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div> <!-- end of container playlist-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
