<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script> 
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript"> 
        $(document).ready(function() {
            /* ------------------------------ images uploading -------------------------------- */
            var audio = '';
            var reader;

            function handleFileSelect(evt) {
                files = evt.target.files;

                // limit the file number
                if (files.length > 1) {
                    alert("only 1 song a time");
                    return;
                }

                for (var i = 0, f; f = files[i]; i++) {
                    if(!f.type.match('audio.*')){
                        continue;
                    }
                    reader = new FileReader();
                    reader.onload = (function(theFile){
                        return function(e){
                                audio = e.target.result;
                        }
                    })(f);
                    reader.readAsDataURL(f);
                }
            }
            document.getElementById('fileframe').addEventListener('change', handleFileSelect, false);
            
            /* cancel */
            $("#cancel").click(function(event){
                event.preventDefault();
                history.go(-1);
            });

            /* form submit */
            $("#group_upload").submit(function(event){
                event.preventDefault();

                var fileJSON = {file:audio};
                var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                fileJSON["csrfmiddlewaretoken"] = token;
                $.post("/fileupload", fileJSON, function(feedback){
                    if (feedback.status == 0) {
                        // construct the JSON
                        var upload_obj = {};
                        upload_obj["gid"] = {{ gid }};
                        upload_obj["name"] = $("#name").val();
                        upload_obj["artist"] = $("#artist").val();
                        upload_obj["vHash"] = feedback.hash;
                        upload_obj["csrfmiddlewaretoken"] = token;
                        console.log(upload_obj);

                        // post the JSON
                        $.post("/upload", upload_obj, function(res) {
                            console.log(res);
                        });
                    }
                    else {
                        alert("Music upload failed!");
                    }
                });
            });

        });
    </script>
</head>

<body>
    
    <div class="container header_container">
        <div class="container logo_container">
            <img src="{% static 'img/LOGO.png' %}" class="logo">
        </div>
        <div class="container welcoming_container">
            <h4 class="welcoming">Welcome,</h4>
            <h3 class="welcoming">ShyuSeimin</h3>
        </div>
        <div class="container nav_container">
            <table class="table nav_table"><tbody>
                <tr>
                    <td class="highlight right_border"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></td>
                    <td class="right_border"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <td class="right_border"><a href="/home">Home</a></td>
                    <td class="right_border"><a href="/myPlaylist">My Playlist</a></td>
                    <td class="right_border"><a href="/favoriteGroup">Favorite Groups</a></td>
                    <td><a href="/myAccount">My Account</a></td>
                </tr>
            </tbody></table>
        </div>
    </div><!-- end of header container-->


    <div class="container upload_container">
        <h3 class="title">Upload a New Song</h3>
        <form id="group_upload">
            {% csrf_token %}
            <div class="form-group">
                <label for="group">Group name : <font color=#337ab7 >Country</font></label>
            </div>

            <div class="form-group">
                <label for="uploader">Uploader : <font color=#337ab7 >Sei</font></label>
            </div>

            <div class="form-group">
                <label for="name">Song name :</label>
                <input type="text" class="form-control" id="name">
            </div>

            <div class="form-group">
                <label for="artist">Artist :</label>
                <input type="text" class="form-control" id="artist">
            </div>

            <div class="form-group">
                <label for="artist">Song file</label>
                <input class='fileframe' id='fileframe' type="file" title=" ">
            </div>

            <button type="submit" form="group_upload" class="btn btn-primary" id="submit" accept="audio/*">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit
            </button>
            <button class="btn btn-primary" id="cancel">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
            </button>
        </form>
    </div> <!-- /container -->

</body></html>
