                    <div class="module beta-module beta-module-newhottest">
                        <div class = "module-header">
                            <div class = "module-left-ornament">
                                <div class = "module-blue-check">
                                </div>
                            </div>
                            <div class = "module-title beta-module-title">
                                <div class="beta-module-title-cnt">
                                    全站最新动态
                                </div>
                            </div>
                        </div>
                        <div class="newhottest-content">
                            <div class="newest-entry underline">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                            <div class="newest-entry underline">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                            <div class="newest-entry underline">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                            <div class="newest-entry underline">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                            <div class="newest-entry underline">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                            <div class="newest-entry">
                                <div class="newest-entry-profile">
                                    <div class="newest-entry-profile-img"></div>
                                </div>
                                <div class="newest-entry-cnt">
                                    <div class="newest-entry-text">
                                        <a href="#"><p class="newhottest-entry-p newhottest-entry-title">陈经达带我飞么么哒</p></a>
                                        <p class="newhottest-entry-p newhottest-entry-detail">陈经达啊啊啊我是暗恋你已久的Steven求约嘤嘤嘤什么时候带我飞！！！</p>
                                    </div>
                                    <div class="newest-entry-time">
                                        2015/09/10 13:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

